*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center center;
}
body, input {
	color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
main {
	width: 95%;
	margin: 20px 0;
	padding: 20px;
	user-select: none;
	border-radius: 20px;
	box-shadow: 0 0 5px 5px rgba(156, 39, 176, 0.5);
	background-image: radial-gradient(farthest-side at bottom left, rgba(255, 0, 255, 0.5), #246756), radial-gradient(farthest-corner at bottom right, rgba(255, 50, 50, 0.5), #246756 400px);
	opacity: 0.95;
}
main i {
	cursor: pointer;
}
input, button {
	display: inline-block;
	float: left;
	border: 0;
	outline: 0;
	margin: 0;
	color: #fff;
}
input {
	width: 68%;
	padding: 6px;
	font-size: 18px;
	line-height: 2;
	background-color: #201c29;
}
button {
	width: 16%;
	padding: 6px 0;
	font-size: 36px;
	line-height: 1;
	cursor: pointer;
	text-shadow: 2px 2px 4px #201c29;
	background-image: linear-gradient(to right, #ff8a00, #da1b60);
}
button[type="button"] {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
button[type="submit"] {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
form:after, nav:after {
	content: '';
	display: table;
	clear: both;
}
a {
	color: #fff;
	outline: 0;
	text-decoration: none;
}
h3, h4, h5 {
	text-shadow: 2px 2px 4px #201c29;
}
h3, h4 {
	margin: 10px 0;
	line-height: 1.5;
	text-shadow: 2px 2px 4px #201c29;
}
h3 {
	margin: 10px 0;
	font-size: 24px;
	line-height: 1.25;
}
h4 {
	margin: 20px 0 10px;
	font-size: 18px;
	line-height: 1.4;
}
h5 {
	margin: 10px 0;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h5 i {
	font-size: 12px !important;
	vertical-align: -1.8px;
}
h5 span {
	display: none;
}
b, .on {
	color: #ff8a00;
}
nav i {
	float: left;
	width: 32%;
	margin: 0 1%;
	padding: 10px;
	font-size: 36px !important;
	text-shadow: 2px 2px 4px #201c29;
	background-image: linear-gradient(to right, #ff8a00, #da1b60);
}
nav i:first-child {
	margin-left: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
nav i:last-child {
	margin-right: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
nav i:active, button:active {
	background-image: linear-gradient(to right, #da1b60, #ff8a00);
}
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ol li {
	display: inline-block;
	width: calc(50% - 13px);
	margin: 10px 5px;
}
ol img {
	max-width: 100%;
	border-radius: 50%;
	transition: .2s;
}
ol a {
	font-size: 18px;
	line-height: 1.4;
}
ol a:hover img {
	box-shadow: 0 0 5px 5px rgba(255, 138, 0, 0.5);
}
ol a:focus img {
	animation: rotation 2s infinite linear;
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
ol div, ul li, h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	max-height: calc(100vh - 372.5px);
}
ul li {
	display: block;
	padding: 0 5px;
	font-size: 20px;
	line-height: 40px;
	color: #201c29;
	background-color: #f1f1f1;
	cursor: pointer;
}
ul li:nth-child(even) {
	background-color: #c1c1c1;
}
ul li.active {
	color: #fff;
	background-image: linear-gradient(to right, #ff8a00, #da1b60);
}
.ui-menu {
	max-height: none !important;
}
.ui-menu-item {
	font-size: 20px;
	line-height: 40px;
}
.ui-state-active {
	border: 1px solid !important;
	background-image: linear-gradient(to right, #ff8a00, #da1b60) !important;
}
figure {
	margin: 0;
	z-index: 1;
	position: relative;
	width: 100%;
	height: 40px;
	cursor: col-resize;
	background-color: #f1f1f1;
}
.buffer, .seek {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
}
.buffer {
	background-color: #c1c1c1;
}
.seek {
	background-image: linear-gradient(to right, #ff8a00, #da1b60);
}
aside {
	margin-top: 20px;
	text-shadow: 2px 2px 4px #201c29;
}
aside i {
	font-size: 36px !important;
}
aside i:nth-of-type(2) {
	margin: 0 calc(16% - 30px);
}
time {
	width: 20%;
	margin-top: -10px;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 1px;
}
.current {
	float: left;
	text-align: left;
}
.total {
	float: right;
	text-align: right;
}
header {
	z-index: 1;
	display: none;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
	user-select: none;
	border-radius: 20px;
	background-color: #201c29;
	box-shadow: 0 0 5px 5px rgba(36, 103, 86, 0.5);
	opacity: 0.95;
}
header i {
	vertical-align: -4px;
}
@media(min-width: 768px) {
	ol li {
		width: calc(20% - 14px);
	}
}
@media(min-width: 1920px) {
	h3, i, header {
		font-size: 32px !important;
	}
	h5, h5 i {
		font-size: 16px !important;
	}
	button, nav i {
		font-size: 48px !important;
	}
	input, time, h4, ol a {
		font-size: 24px;
	}
	button, input {
		padding: 8px;
	}
	nav i {
		padding: 15px;
	}
	ul {
		max-height: calc(100vh - 426.5px);
	}	
}
